<%- include('../partials/header') %>
    <h1>Express Skills</h1>
    <div class="content">
      <h2>Time: <%= time %> & Date: <%= dateNow %></h2>
      <ol type="I">
        <% skills.forEach( skill => { %>

        <li>
          
          <a href="/skills/<%= skill.id %>"><%= skill.skill %></a>
          
          <form style="display: inline;" action="/skills/<%= skill.id %>?_method=DELETE" method="post">
            <button style="
            background-color: red;
            border-radius: 10px;
            border: 1px solid black;
          " type="submit">X</button>
          </form>
          <a href="/skills/<%= skill.id %>/edit">Edit</a>

        </li>

        <% }); %>
      </ol>
      <a href="/skills/new">Add Skills Habibi</a>
    </div>
  </body>
  <html></html>
</html>
<!-- classes from bulma -->
<%- include('../partials/footer') %>